
<div class="card">
    <div class="card-header" (click)="onToggleCard()">
      <div>{{ header }}</div>
      <mat-icon>edit</mat-icon>
    </div>
    <div class="card-content" [ngClass]="{ 'expanded': expandedCard === cardType }">
      <div *ngIf="items.length > 0">
        <ul>
          <li *ngFor="let item of items" class="card-item">
            <div class="space">
              <div>{{ getHeaderId(cardType, item) }}
                <div *ngIf="cardType !== 'หมวดหมู่'">ชื่อ _ {{ getHeaderName(cardType, item) }}</div>
                <div *ngIf="cardType !== 'หมวดหมู่'">ปรับปรุงล่าสุด _ {{ item.date }}</div>
                <div *ngIf="cardType !== 'หมวดหมู่'">ผู้เขียน _ {{ item.username }}</div>
                <div *ngIf="cardType === 'หมวดหมู่'">หมวดหมู่ _ {{ item.tagName }}</div>
              </div>
              <div class="submit">
                <button (click)="toggleModalForm(item)">แก้ไข</button>
                <button (click)="onTogglePublish(item)" *ngIf="cardType !== 'หมวดหมู่'">
                  {{ checkIfPublished(item) ? 'หยุดเผยแพร่' : 'เผยแพร่' }}
                </button>
              </div>
              <div class="submit">
                <button (click)="onDeleteItem(item)">ลบ</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="items.length === 0">
        กรุณาเข้าสู่ระบบ....
      </div>
    </div>
</div>

