
  <app-editcard 
  *ngFor="let type of ['ชุมชน', 'แหล่งท่องเที่ยว', 'อาหารและผลิตภัณฑ์', 'แผนการท่องเที่ยว', 'กิจกรรม', 'ข่าวประชาสัมพันธ์', 'หมวดหมู่']" 
  [header]="'แก้ไข ' + type"
  [items]="getItems(type)"
  [expandedCard]="expandedCard"
  [cardType]="type"
  (toggleCard)="toggleCard($event)"
  (openEditForm)="openEditForm(type, $event)"
  (deleteItem)="deleteItem(type, $event)"
  class="main-card">
  </app-editcard>


<app-editform
  *ngIf="formName !== null"
  [formGroup]="currentForm!"
  [formType]="formName"
  [communities]="communities"
  [tags]="tags"
  (cancel)="closeForm()"
  (save)="saveForm(formName, $event)">
</app-editform>
