<div class="detail-container">
    <!-- แถบบน -->
  <mat-toolbar>
    <div class="content">
      <!-- ปุ่มซ้าย -->
      <div>
        <a class="text-button">
          <mat-icon>youtube_searched_for</mat-icon>
        </a>
      </div>
    <!-- ปุ่มขวา -->
      <div style="flex-direction: row; display: flex;">
        <div *ngFor="let mainType of ['เกี่ยวกับเรา', 'ติดต่อเรา']">
          <a class="text-button"
          [ngClass]="{'active' : triggerMain === mainType}"
          (click)="isActiveMain(mainType)">
            {{ mainType }}
          </a>
        </div>
        <div *ngIf="!global.isLogin">
          <a class="text-button" aria-label ="Sign in icon"  routerLink="/login" target="_blank" style="border: solid 1px;">
              <mat-icon>account_circle</mat-icon><span>Sign in</span>
          </a>
        </div>
        <div *ngIf="global.isLogin" (mouseleave)="showBox()" (mouseenter)="showBox()" class="text-button" style="border-radius: 15px; background-color: var(--primary);">
          <mat-icon style="margin-top: 4px; color: white !important;">person</mat-icon><span style="font-size: 12px; color: white;">{{this.username}}</span>
          <!-- เมนูผู้ใช้ -->
        <div class="box" [class.active]="!isVisible" >
            <div *ngIf="global.isLogin">
              <span class="item" (click)="Logout()">
                <span>Logout</span> 
                <mat-icon>settings_power</mat-icon> 
              </span>
            </div>
            
          </div>
        </div>
      </div>
     </div>
    </mat-toolbar>
    <mat-sidenav-container autosize>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-container>
</div>
