<!-- แถบบน -->
<mat-toolbar>
  <!-- ปุ่มซ้าย -->
  <div >
    <button  mat-icon-button aria-label ="Menu icon"  (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- ปุ่มขวา -->
  <div >
    <button  mat-icon-button aria-label ="User icon"  (click)="showBox()">
        <mat-icon>perm_identity</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- แถบข้าง -->
<mat-sidenav-container autosize>
  <mat-sidenav [ngClass]="!global.isCollapsed ? 'expanded' : ''" [mode]="global.isMobile ? 'over' : 'side'" [opened]="global.isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!global.isCollapsed">Home</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/add">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!global.isCollapsed">Add Data</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav> 

<!-- เมนูผู้ใช้ -->
<div class="box" [class.active]="!isVisible" >
    <mat-nav-list>
      <a mat-list-item routerLink="/login" target="_blank" >
        <span class="dropdown">
         <span>Login</span> 
         <mat-icon>house</mat-icon> 
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/register" target="_blank" >
        <span class="dropdown">
         <span>Register</span> 
         <mat-icon>house</mat-icon> 
        </span>
      </a>
    </mat-nav-list>
</div>

<!-- เนื้อหาหลัก -->
<router-outlet></router-outlet>





  
  