
<div class="main-banner">
    <div class="banner">
        <span class="banner-content" style="font-size: 35px;">จุดเริ่มต้น ของ การเดินทาง</span>
        <div class="banner-content">
            <input style="color: var(--primary-dark);" class="search" [placeholder]="'ค้นหา'">
        </div>
        <span class="banner-content" style="font-size: 15px;">เพราะการเดินทาง คือการเรียนรู้ ที่ดีที่สุด</span>
    </div>
</div>
<div class="main-content" *ngFor="let header of ['ชุมชน','แหล่งท่องเที่ยว','อาหารและผลิตภัณฑ์','แผนการท่องเที่ยว','กิจกรรมสรรทนาการ','ข่าวประชาสัมพันธ์']">
    <div class="header">{{header}}</div>
    <div class="content" *ngIf="filterItemsByType(header).length > 0">
        <div *ngFor="let item of filterItemsByType(header); trackBy: trackById" class="item">
            <div class="item-pic"></div>
            <div class="item-title">
              <li>{{ getHeaderName(header, item) }}</li>
            </div>
          </div>
    </div>
</div>




