<!-- หัว -->
<div *ngIf="item">
    <div class="guide">
      <div class="guide-item">
        <div class="text-button">
          <span>Great Trip</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button" *ngIf="header === 'ชุมชน'">
          <span>ชุมชน</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
      <div *ngIf="header !== 'ชุมชน'" class="guide-item">
        <div class="text-button">
          <span>{{item.communityName}}</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button">
          <span>{{header}}</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button" *ngIf="header !== 'ข่าวประชาสัมพันธ์' && header !== 'แผนการท่องเที่ยว'">
          <span>{{item.tagName}}</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
</div>

 <!--เนื้อหา  -->
  <div class="detail-content" *ngIf="item">
    <div class="detail-header">
      <h1>{{item.name}}</h1>
      <p>{{item.address}}</p>
    </div>
    <div class="detail-pic" *ngIf="item.imageData || global.isAdmin">
      <img *ngIf="item.imageData" [src]="item.imageData" alt="image" style="filter: blur(15px);">
      <div class="pic" style="border-radius: 20px;">
        <img *ngIf="item.imageData" [src]="item.imageData" alt="image" style="border-radius: 10px; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);">
      </div>
      <div *ngIf="!item.imageData" class="watermark" (click)="chooseImage()">
        <span>Click to choose image</span>
      </div>
      <button *ngIf="global.isAdmin" class="choose-image-btn" (click)="chooseImage()">Choose Image</button>
    </div>
    <div class="detail-title">
        <span [innerHTML]="item.detail"></span>
    </div>
    <div *ngIf="header === 'แหล่งท่องเที่ยว' && item" style="display: flex; flex-direction: column; width: 80%; align-items: center;">
      <iframe *ngIf="header === 'แหล่งท่องเที่ยว' && item.map" id="mapFrame" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="detail-describe">
        <h2>เวลาทำการ</h2>
        <span>{{item.time}}, {{item.days}}</span>
      </div>
    </div>
    <div *ngIf="header === 'อาหารและผลิตภัณฑ์' && item" style="display: flex; flex-direction: column; width: 80%; align-items: center;">
      <div class="detail-describe">
        <h2>สิ่งที่ต้องเตรียม</h2>
        <div style="padding-left: 10px;" [innerHTML]="item.ingredient"></div>
      </div>
      <div class="detail-describe">
        <h2>ขั้นตอนและวิธีทำ</h2>
        <div style="padding-left: 10px;" [innerHTML]="item.step"></div>
      </div>
      <div class="detail-describe">
        <h2>ราคา</h2>
        <span>{{item.price}} บาท</span>
      </div>
      <div *ngIf="foodsProducts.length > 0"style="display: flex; flex-direction: row; width: 80%; align-items: center;">
        <div *ngFor="let fp of getItems() | slice:0:4" style="position: relative; display: flex; flex-direction: column; margin-right: 20px;">
          <div style="width: 200px; height: 150px; border-radius: 10px; background-color: var(--primary-dark); margin-bottom: 45px;">
            <img [src]="fp.imageData" style="width: 100%; height: 100%; object-fit: cover;"/>
            <span>{{fp.name}}</span>
          </div>
          <button *ngIf="global.isAdmin" (click)="chooseImage2('อาหารและผลิตภัณฑ์', fp)" style="position: absolute; top: 10px; left: 10px;">+</button>
        </div>
      </div>
    </div>
    
    <div style="display: flex; flex-direction: column; width: 80%; align-items: center;" *ngIf="header === 'ชุมชน'"> 
      <div class="detail-describe">
        <h2>ประวัติความเป็นมา</h2>
        <div style="padding-left: 10px;" [innerHTML]="item.history"></div>
      </div>
      <div *ngIf="item.culture" class="detail-describe">
        <h2>วัฒนธรรมและประเพณี</h2>
        <div style="padding-left: 10px;" [innerHTML]="item.culture"></div>
      </div>
      <div *ngIf="events.length > 0" class="detail-describe">
        <h2>กิจกรรมที่น่าสนใจ</h2>
        <div *ngFor="let event of getItems()" style="display: flex; flex-direction: column;">
          <div style="position: relative; display: flex; flex-direction: row; padding-left: 30px;">
            <div style="width: 200px; height: auto; border-radius: 10px; background-color: var(--primary-dark); margin-right: 20px;" >
              <img [src]="event.imageData" style="width: 100%; height: 100%; object-fit: cover;"/>
            </div>
            <button *ngIf="global.isAdmin" (click)="chooseImage2('กิจกรรมสรรทนาการ', event)" style="position: absolute; top: 10px; left: 5px;">+</button>
            <div style="display: flex; flex-direction: column;">
              <p style="padding-left: 10px; text-decoration: underline;">{{event.name}}</p>
              <p style="padding-left: 10px;">{{event.detail}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div 
      *ngIf="trips.length > 0"
      style="display: flex; flex-direction: column; width: 80%; padding: 10px; margin-bottom: 10px; border-radius: 5px; background-color: white; word-wrap: break-word; overflow-wrap: break-word; z-index: 4;">
      <h2>แนะนำ</h2>
      <div *ngFor="let trip of trips">
        <button style="padding-left: 10px; border: none; text-decoration: underline; cursor: pointer;" (click)="getTrip(trip)">{{trip.name}}</button>
      </div>
    </div>
  </div>

  <!-- ท้าย -->
  <div *ngIf="item">
    <div class="guide">
      <div class="guide-item">
        <div class="text-button">
          <span>Great Trip</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button" *ngIf="header === 'ชุมชน'">
          <span>ชุมชน</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
      <div *ngIf="header !== 'ชุมชน'" class="guide-item">
        <div class="text-button">
          <span>{{item.communityName}}</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button">
          <span>{{header}}</span><mat-icon >keyboard_arrow_right</mat-icon>
        </div>
        <div class="text-button" *ngIf="header !== 'ข่าวประชาสัมพันธ์' && header !== 'แผนการท่องเที่ยว'">
          <span>{{item.tagName}}</span><mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <!-- error -->
  <div style="width: 100%; display: flex; flex-direction: row; justify-content: center;" *ngIf="!item">
    <h1>Not Found!</h1>
  </div>

  <app-trip-modal
  *ngIf="tripData"
  [tripData]="tripData"
  (close)="closeTrip()">
  </app-trip-modal>
