
  
  /* Body */
  body {
    background-color: var(--primary-bg); /* $body-bg */
    color: var(--primary-text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Colors */
  :root {
    --white: #fff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #868e96;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black: #000;
  
    /* Theme Colors */
    --primary: #006849;
    --primary-dark: rgb(0, 39, 35);
    --primary-light: #008b62;
    --primary-bg: #ffffff;
    --primary-text: rgb(0, 39, 35);
    --sidenav: #1d2d36;
    --sidenav-hover: #152e3b8a;
    --content: #ADD8E6;
    --brand: #041811;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c71c22;
    --orange: #fd7e14;
    --yellow: #dd5600;
    --green: #009788;
    --teal: #20c997;
    --cyan: #2fa4e7;
    --blue-light: #8affdc;
    --dark-green: rgb(0, 39, 35);
  }

  /* body.dark-theam {
    --primary-bg: rgb(0, 39, 35) !important;
    --primary-text: #ffffff !important;
  } */

  /*text*/
  h1 {
    padding: 0 1rem;
  }
  
  h2 {
    padding: 0.5rem;
  }

  .mid-text {
    font-size: 12px;
  }

  .small-text {
    font-size: 10px;
  }

  .text-menu {
    display: flex;
    gap: 1rem;
    color: white;
  }

  /* input */
  .input-container {
    position: relative;
    width: 80%;
  }
  
  .input-container input {
    width: 100%;
    padding-right: 60px;
    padding-left: 10px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 16px;
  }
  
  .input-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 70%;
    padding: 0 10px;
    margin-right: 7px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: var(--primary);
    background-color: white;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: var(--primary);
    color: white;
  }
  .search {
    padding: 8px;
    font-size: 15px;
    border-radius: 20px;
    border: var(--primary);
    color: var(--primary-dark);
  }

  /*button*/
  .space {
    display: flex;
    justify-content: space-between;
  }
  .text-button {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0.5px 10px;
    background: none;
    color: var(--primary-text);
    font-size: 12px;
    text-decoration: none;
  }
  .text-button mat-icon {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 16px;
    vertical-align: bottom;
  }


  .text-button:hover {
    background: rgba(0, 122, 91, 0.336);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .text-button.active {
    text-decoration: underline;
    border: solid 1px var(--primary);
  }

  .submit button{
      min-width: 30px;
      max-height: 35px;
      border-radius: 5px;
      position: relative;
      display: inline-block;
      padding: 5px 5px;
      margin-right: 2px;
      background: none;
      color: var(--primary-text);
      font-size: 14px;
      text-decoration: none;
      transition: 0.5s;
      margin-top: 10px;
  }

  .submit button:hover {
    cursor: pointer;
    background: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 5px;
  }

  /*link*/
  a {
    display: flex;
    align-items: center;
    color: var(--primary-text);
    text-decoration: none;
  }

  a:hover{
    cursor: pointer;
  }

  strong {
    letter-spacing: 0.5px;
  }
  button {
    background-color: var(--primary-bg);
    color: var(--primary-text);
  }


  
  

  