/* GENERIC */
:root {
    --enable-caret: true;
    --enable-rounded: true;
    --enable-shadows: false;
    --enable-gradients: true;
    --enable-transitions: true;
    --enable-grid-classes: true;
    --enable-print-styles: false;
  }
  
  /* Body */
  body {
    background-color: var(--content); /* $body-bg */
  }
  
  /* Colors */
  :root {
    --white: #fff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #868e96;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black: #000;
  
    /* Theme Colors */
    --primary: #006849;
    --primary-dark: rgb(0, 39, 35);
    --sidenav: #1d2d36;
    --content: #ADD8E6;
    --brand: #041811;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c71c22;
    --orange: #fd7e14;
    --yellow: #dd5600;
    --green: #009788;
    --teal: #20c997;
    --cyan: #2fa4e7;
    --blue-light: #8affdc;
    --dark-green: rgb(0, 39, 35);
  }
  
  /* Bootstrap Overwrites */
  :root {
    --headings-font-weight: 400;
    --font-size-base: 0.88rem;
    --font-size-lg: calc(var(--font-size-base) * 1.35);
    --font-size-sm: calc(var(--font-size-base) * 1.1);
    --font-size-xs: calc(var(--font-size-base) / 1.1);
    --btn-transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    --btn-focus-width: 0;
    --btn-focus-box-shadow: none;
    --pagination-focus-box-shadow: none;
    --body-color: var(--gray-700);
    --card-cap-bg: var(--white);
    --card-border-color: rgba(darken(var(--green), 25%), 0.125);
    --dropdown-min-width: 15rem;
    --dropdown-link-hover-bg: #d1f3ff;
    --dropdown-item-padding-y: 0.4rem;
    --dropdown-padding-y: 0.65rem;
  }
  
  /* Tables */
  :root {
    --table-accent-bg: rgba(var(--black), 0.03);
    --table-hover-bg: var(--dropdown-link-hover-bg);
    --table-active-bg: var(--table-hover-bg);
    --table-border-color: var(--gray-200);
    --table-head-bg: var(--gray-100);
    --table-head-color: var(--gray-600);
    --table-cell-padding: 0.55rem;
    --table-cell-padding-sm: 0.3rem;
  }
  
  /* Popovers */
  :root {
    --popover-max-width: 320px;
    --popover-box-shadow: var(--box-shadow-default);
    --popover-border-color: var(--card-border-color);
    --popover-header-bg: var(--white);
  }
  
  /* Color Modifiers */
  :root {
    --link-color: var(--green);
    --component-active-bg: var(--green);
    --custom-control-indicator-checked-disabled-bg: rgba(var(--green), 0.5);
    --form-feedback-valid-color: var(--green);
    --form-feedback-invalid-color: var(--red);
    --progress-bar-bg: var(--green);
    --input-btn-focus-color: rgba(var(--component-active-bg), 0.25);
    --input-focus-border-color: lighten(var(--component-active-bg), 25%);
    --custom-control-indicator-checked-bg: var(--component-active-bg);
    --custom-control-indicator-active-bg: lighten(var(--component-active-bg), 35%);
    --custom-checkbox-indicator-indeterminate-bg: var(--component-active-bg);
    --custom-range-thumb-bg: var(--component-active-bg);
    --custom-range-thumb-active-bg: lighten(var(--component-active-bg), 35%);
    --dropdown-link-active-bg: var(--component-active-bg);
    --nav-pills-link-active-bg: var(--component-active-bg);
    --pagination-active-bg: var(--component-active-bg);
    --list-group-active-bg: var(--component-active-bg);
    --list-group-border-color: rgba(var(--green), 0.08);
  }
  

  