.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-text);
    overflow-x: auto;
}

.detail-container mat-sidenav-container {
    background: var(--primary-bg) !important;
    padding-top: 2.5rem;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: auto !important;
}


