.main-footer {
    min-width: 100%;
    background-color: var(--primary-dark);
    color: white;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    margin: 15px;
    max-width: 250px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary);
    color: white;
    margin-top: 20px;
  }

  @media screen and (max-width: 1000px) {
    .main-footer {
        width: 1000px;
    }

    .footer-bottom {
        width: 1000px;
        text-align: left;
    }
  }