.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
  /* header */
  mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark) !important;
    position: fixed;
    color: var(--content) !important;
    max-height: 40px;
    width: 100% !important;
    top: 0;
    z-index: 1000;
    margin-top: 5px !important;
  }

  mat-toolbar .content {
    display: flex;
    min-width: 800px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  mat-toolbar .item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: row;
    min-height: 40px;
    width: 100%;
    top: 2.5rem;
    padding:  0 0 10px 2rem;
    background-color: var(--primary-dark);
    z-index: 5;
    overflow-x: auto; 
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.7);
    white-space: nowrap; 
    max-width: 100vw; 
    /* box-sizing: border-box; */
  }

  .menu .item {
    margin-top: 15px;
    padding: 5px 7px;
    font-size: 12px;
    border-radius: 3px;
    white-space: nowrap;
    color: white;
    cursor: pointer;
  }

  .menu .item:hover {
    text-decoration: underline;
  }

  .menu .item.active {
    border: solid 1px var(--primary);
    text-decoration: underline;
  }

  
  /* sidenav */
  mat-sidenav-container {
    background: var(--primary-dark) !important;
    padding-top: 5.5rem;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: auto !important;
  }
  /* mat-sidenav-content {
    padding-top: 2rem;
  } */

  /* icon */
  mat-icon {
    margin-bottom: 5px;
    color: white !important;
    font-size: 19px !important;
  }

  /* box */
  .box {
    display: none;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    right: 0;
    top: 1.8rem;
    width: auto;
    height: auto;
    background-color:var(--primary-dark);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: 0.5s; ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .box.active {
    display: flex;
  }
  .box .item{
    display: flex;
    padding: 3px;
    gap: 1rem;
    color: aliceblue;
    cursor: pointer;
  }

  .box div {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 20px;
    font-size: 12px;
  }

  .box div :hover {
    border-radius: 10px;
    color: var(--teal);
    transition: 0.5s;
  }

  .box a {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }
  .box mat-icon {
    font-size: 18px !important;
  }

  @media screen and (max-width: 800px) {

    mat-toolbar {
      width: 100% !important;
    }
    mat-toolbar .content {
      min-width: 100%;
    }
    .menu {
      display: flex;
      justify-content: left;
    }
  
    .menu-themelight {
      display: flex;
      justify-content: left;
    }
    
    .box {
      top: 1.9rem;
    }

}

@media screen and (max-width: 500px) {
  .text-button {
    padding: 0 5px;
    font-size: 9px;
    margin: 1px;
  }
  
}
  
  .hidden {
    display: none;
  }

  .link{
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    font-size: 10px;
    height: 16px;
    color: var(--primary);
    border-bottom: solid 1px var(--primary);
  }
