@import 'theme-options/theme-variable.css';
/* layout */
@import 'layout/layout-base.css';
@import 'layout/layout-page.css';
@import 'layout/alert.css';
@import 'layout/detail-layout.css';
@import 'layout/footer.css';
/* element */
@import 'element/form.css';
/* page */
@import 'Page/home-page.css';
@import 'Page/edit-mode.css';
/* LocalData */
@import 'LocalData/detail.css';

quill-editor {
  display: block;
  width: 100%;
  min-height: 150px;
  background-color: white;
}

  blockquote {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  pre,
  form pre {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 11px;
    width: 85%;
    color: var(--primary-dark);
    padding: 10px;
    white-space: normal;
  }