<h2 mat-dialog-title>เลือกภาพ</h2>
<mat-dialog-content>
  <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let image of images" style="margin: 10px; cursor: pointer;" (click)="selectImage(image)">
      <img [src]="'data:' + image.imageType + ';base64,' + image.imageData" alt="image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ยกเลิก</button>
</mat-dialog-actions>
